/** MainMenuView **/
.menu_div_principal {
	
}

.menu_div_logo {
	
}

.menu_div_menubar {
	margin-top: 4px;
}

.menu_div_end {
	width: 100%;
	height: 1%;
	background-color: #164666;
}

.menuPathInfo {
	font-size: 120%;
	font-weight: bold;
	color: black;
}

.menuUserInfo {
	color: #91062A;
}

.hyperLink{
	color: #164666;
	text-decoration: underline;
	cursor: pointer;
}

/* Anchor */
.jabarAnchor {
	font-size: 100%;
}

.jabarAnchor:hover {
	cursor: pointer;
	color: white;
}

/* CellTable */
.cellTable {
	border-bottom: 1px solid #ccc;
	text-align: left;
	margin-bottom: 4px;
}

/** Main menu **/
.gwt-MenuBar {
	cursor: default;
}

.divMain {
	margin-top: 0%;
	margin-left: 0%;
}

.divLinkInfo {
	
}

.divContainer {
	margin-top: 0%;
	width: 100%;
}

.divContainerMessage {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 0%;
	font-size: 100%;
	font-weight: bold;
	color: white;
	background-color: #91062A;
}

.divContainerMessageFirst {
	width: 100%;
	margin-top: 0%;
	margin-bottom: 1%;
	font-size: 100%;
	font-weight: bold;
	color: white;
	background-color: #91062A;
}

.divContainerMessageFind {
	margin-bottom: 1%;
	font-size: 100%;
	font-weight: bold;
	color: white;
	background-color: #91062A;
}

.divContainerMessageFindChild {
	font-size: 100%;
	color: white;
}

.divContainerDisclosurePanelHeader {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 0%;
	font-size: 100%;
	font-weight: bold;
	color: white;
}

.divButtonFind {
	margin-top: 1%;
	margin-left: 1%;
}

.divLogin {
	margin-top: 5%;
}

.divContainerElement {
	width: 100%;
	margin-top: 0px;
	margin-left: 10px;
}

.fieldsetGroupElement {
	width: 200px;
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementService1 {
	width: 430px;
	margin-top: 5px;
	margin-left: 2px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementService2 {
	width: 442px;
	margin-top: 5px;
	margin-left: 2px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementService3 {
	width: 200px;
	margin-top: 5px;
	margin-left: 0px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementService4 {
	width: 1025px;
	margin-top: 5px;
	margin-left: 0px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementParte1 {
	width: 1080px;
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementParte2 {
	width: 540px;
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementParte3 {
	width: 540px;
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementParte4 {
	width: 540px;
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementParte5 {
	width: 1080px;
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementParte6 {
	width: 1080px;
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementContract1 {
	width: 850px;
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.fieldsetGroupElementAdminUser {
	width: 420px;
	margin-top: 10px;
	margin-left: 5px;
	border-width: 2px;
	border-color: #164666;
	border-style: groove;
	border-radius: 10px;
}

.legendGroupElement {
	color: white;
	background: #164666;
	font-family: "Arial";
	font-size: 14px;
	border: solid 1px black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 3px;
}

.fieldsetGroup2Button {
	width: 205px;
	height: 25px;
	margin-top: 10px;
	margin-left: 18px;
	border-width: 4px;
	border-color: white;
	border-style: groove;
	border-radius: 2px;
	background-color: #164666;
}

.fieldsetGroup3Button {
	width: 310px;
	height: 25px;
	margin-top: 10px;
	margin-left: 18px;
	border-width: 4px;
	border-color: white;
	border-style: groove;
	border-radius: 2px;
	background-color: #164666;
}

.fieldsetGroup4Button {
	width: 415px;
	height: 25px;
	margin-top: 10px;
	margin-left: 18px;
	border-width: 4px;
	border-color: white;
	border-style: groove;
	border-radius: 2px;
	background-color: #164666;
}

.disclosurePanel {
	width: 100%;
}

.disclosurePanelAlarm {
	width: 100%;
	margin-left: 20px;
}

.disclosurePanelHeader {
	color: white;
}

.divHeaderDisclosurePanelAlarm {
	width: 100%;
	margin-top: 1%;
	font-size: 100%;
	font-weight: bold;
	color: #91062A;
	background-color: white;
}

.divTableAlarm {
	width: 100%;
	margin-left: 30px;
}

.headerDisclosurePanel {
	
}

.divContainerTable {
	margin-top: 2%;
	width: 100%;
}

.divButton {
	margin-top: 2%;
	margin-left: 5%;
}

.divButtonContainer {
	margin-top: 1%;
}

.divOpenCloseButton {
	margin-top: 0%;
}

.divButtonTable {
	margin-bottom: 1%;
}

.deleteButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.acceptLoginButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.acceptButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.includeButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.openInfoButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.closeInfoButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.cancelButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.closeButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.modifyButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.newButton {
	margin-left: 25px;
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.openFilterButton {
	font-size: 75%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.findFilterButton {
	margin-left: 0px;
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.printButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.newRowButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.beforeButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.afterButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.assignExpertButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.seeContractButton {
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
	margin-left: 4px;
}

.seeContractRedButton {
	font-size: 80%;
	font-weight: bold;
	color: red;
	background-color: #cbdbe5;
	margin-left: 4px;
}

.validateServiceButton {
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
	margin-left: 4px;
}

.seePendingServicesButton {
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
	margin-left: 4px;
}

.documentButton {
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
	margin-left: 20px;
}

.addServicesButton {
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
	margin-left: 20px;
}

.sendParteToClientButton {
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
	margin-left: 20px;
}

.sendMessageToCommercialButton {
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
	margin-left: 20px;
}

.seeRateButton {
	font-size: 80%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
	margin-left: 20px;
}

.findButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.renovationButton {
	font-size: 100%;
	font-weight: bold;
	color: #164666;
	background-color: #cbdbe5;
}

.header {
	font-size: 160%;
	font-weight: bold;
}

.headerData {
	margin-botton: 5%;
	font-size: 120%;
}

.labelData {
	font-weight: bold;
	color: white;
}

.labelDataColorRed {
	font-weight: bold;
	color: red;
}

.labelDataRed {
	color: red;
	background-color: white;
}

.labelDataWhiteLegend {
	color: white;
	font-weight: bold;
	background-color: #164666;
}

.labelDataRedLegend {
	color: red;
	font-weight: bold;
	background-color: white;
	margin-right: 10px;
}

.labelDataDialog {
	font-weight: bold;
	color: black;
}

.labelDataLegendGroupElement {
	color: white;
	background: #164666;
	font-family: "Arial";
	font-size: 14px;
}

.labelHelp {
	font-style:italic;
	color: grey;
}

.labelCount {
	color: black;
}

.data {
	width: 100px;
	margin-right: 10px;
}

.dataRed {
	color: red;
	font-weight: bold;
	width: 80px;
	margin-right: 10px;
}

.dataLogin {
	width: 150px;
	margin-right: 10px;
}

.dataOperation {
	width: 500px;
	margin-right: 10px;
}

.dataShort {
	width: 50px;
	margin-right: 10px;
}

.dataDNI {
	width: 70px;
	margin-right: 10px;
}

.dataAddress {
	width: 520px;
	margin-right: 10px;
}

.dataEmail {
	width: 200px;
	margin-right: 10px;
}

.dataClientEmailsApproval {
	width: 450px;
	margin-right: 10px;
}

.dataBig {
	width: 300px;
	margin-right: 10px;
}

.dataBillingDescription {
	width: 150px;
	margin-right: 10px;
}

.dataBillingReference {
	width: 350px;
	margin-right: 10px;
}

.dataDimension {
	width: 80px;
	margin-right: 10px;
}

.dataNumber {
	text-align: right;
	width: 60px;
	margin-right: 10px;
}

.dataNumberShort {
	text-align: right;
	width: 20px;
	margin-right: 10px;
}

.dataNumberImportant {
	text-align: right;
	width: 110px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 110%;
}

.dataNumberSerie {
	text-align: right;
	width: 120px;
	margin-right: 10px;
}

.dataWorkerNumber {
	text-align: right;
	width: 100px;
	margin-right: 10px;
}

.dataCodColour {
	width: 45px;
	margin-right: 10px;
}

.dataDate {
	text-align: center;
	width: 80px;
	margin-right: 10px;
}

.dataHour {
	text-align: right;
	width: 40px;
	margin-right: 10px;
}

.dataNotes {
	width: 400px;
	margin-right: 10px;
}

.dataNotesClientServiceData {
	width: 520px;
	height: 75px;
	margin-right: 10px;
}

.dataNoteServiceServiceData {
	width: 420px;
	height: 144px;
	margin-right: 10px;
}

.dataNotesParteParteData {
	width: 1050px;
	height: 96px;
	margin-right: 10px;
}

.dataNoteServiceParteData {
	width: 520px;
	height: 128px;
	margin-right: 10px;
}

.dataNoteContractData {
	width: 720px;
	height: 64px;
	margin-right: 10px;
}

.dataNoteRevisionData {
	width: 720px;
	height: 64px;
	margin-right: 10px;
}

.dataList {
	width: 155px;
	margin-right: 10px;
}

.dataListExpert {
	width: 250px;
	margin-right: 10px;
}

.dataListVendor {
	width: 250px;
	margin-right: 10px;
}

.dataRoleList {
	width: 160px;
	margin-right: 10px;
}

.dataListBig {
	width: 350px;
	margin-right: 10px;
}

.dataListShort {
	width: 50px;
	margin-right: 10px;
}

.dataListPredefinedOperationParteData {
	width: 975px;
	margin-right: 10px;
}

.dataListPredefinedOperationRevisionData {
	width: 640px;
	margin-right: 10px;
}

.dataName {
	width: 400px;
	margin-right: 10px;
}

.dataUser {
	width: 235px;
	margin-right: 10px;
}

.dataNumberName {
	width: 148px;
	margin-right: 10px;
}

.dataNumberNameSIMA {
	width: 520px;
	margin-right: 10px;
}

/** TABLES **/
.table {
	font-size: 80%;
	border-top: thin solid #444444;
	border-left: thin solid #444444;
	border-right: thin solid #111111;
	border-bottom: thin solid #111111;
	background-color: #CCCCCC;
	text-align: center;
}

.tableHeader {
	font-weight: bold;
	border-top: thin solid #444444;
	border-left: thin solid #444444;
	border-right: thin solid #111111;
	border-bottom: thin solid #111111;
	background-color: #CCCCCC;
}

.tableRowPair {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: white;
	background-color: #EEEEEE;
}

.tableRowOdd {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: white;
	background-color: #FFFFFF;
}
