.divDialogLoading {
	width: 100%;
}

.divResultMessage {
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: white;
}

.divButton {
	margin-top: 2%;
}

.acceptButton {
	font-size: 100%;
	font-weight: bold;
	color: black;
}

.yesButton {
	font-size: 100%;
	font-weight: bold;
	color: black;
}

.noButton {
	font-size: 100%;
	font-weight: bold;
	color: black;
}

.message {
	font-size: 120%;
	color: black;
}